certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
influxdb-client==1.49.0
oauthlib==3.2.2
protobuf==6.31.0
pypowerwall==0.12.12
python-dateutil==2.9.0.post0
reactivex==4.0.4
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==80.8.0
six==1.17.0
TeslaPy==2.9.0
typing_extensions==4.13.2
urllib3==2.4.0
websocket-client==1.8.0
